$blue-very-light = #d2e0ec
$blue-very-light2 = #fafdff
$blue-light = #87A3BD
$blue-light-facebook = #0084ff
$blue-regular = #0275d8
$blue-neon = #0096ff
$blue-dark = #2a5888
$yellow-neon = #fffb51
$yellow-light = #EDB154
$yellow-light2 = #ffd697
$yellow-regular = #C99540
$orange-regular = #ec8214
$purple-regular = #d80bfd
$white = #FFF
$pink-light = #E37290
$pink-regular = #F03270
$red-regular = #c02c2c
$red-regular2 = #ff0000
$grey-dark = #333
$grey-medium = #999
$grey-medium2 = #666
$grey-light = #ddd
$grey-light2 = #bbb
$grey-very-light = #f2f2f2
$grey-very-light2 = #fafafa
$green-regular = #1cb761
$green-very-light = #f0ffea

box-shadow()
	-ms-box-shadow arguments
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

transition()
	transition: arguments
	-webkit-transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments

transform()
	transform: arguments
	-webkit-transform: arguments
	-moz-transform: arguments
	-ms-transform: arguments

flex()
	flex: arguments
	-webkit-flex: arguments
	-moz-flex: arguments
	-ms-flex: arguments

displayflex()
	display: flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex

flexdirection()
	flex-direction: arguments
	-ms-flex-direction: arguments
	-moz-flex-direction: arguments
	-webkit-flex-direction: arguments

alignitems()
	align-items: arguments
	-webkit-align-items: arguments
	-ms-align-items: arguments
	-moz-align-items: arguments

justifycontent()
	justify-content: arguments
	-webkit-justify-content: arguments
	-ms-justify-content: arguments
	-moz-justify-content: arguments

gradient($direction = left, $color1 = #3fa0ff, $color2 = #96c7e7)
	background: $color1;
	background: -webkit-linear-gradient($direction, $color1, $color2);
	background: -o-linear-gradient($direction, $color1, $color2);
	background: -moz-linear-gradient($direction, $color1, $color2);
	background: linear-gradient(to $direction, $color1, $color2);