$blue-light = #87A3BD
$blue-regular = #0275d8
$blue-neon = #0096ff
$yellow-light = #EDB154
$yellow-regular = #C99540
$white = #FFF
$pink-light = #E37290
$pink-regular = #F03270
$grey-dark = #333
$grey-medium = #999
$grey-light = #ddd
$grey-very-light = #f2f2f2
$grey-very-light2 = #fafafa
$green-regular = #1cb761

box-shadow()
	-ms-box-shadow: arguments
	-webkit-box-shadow: arguments
	-moz-box-shadow: arguments
	box-shadow: arguments

transition()
	transition: arguments
	-webkit-transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments

transform()
	transform: arguments
	-webkit-transform: arguments
	-moz-transform: arguments
	-ms-transform: arguments

flex()
	flex: arguments
	-webkit-flex: arguments
	-moz-flex: arguments
	-ms-flex: arguments

displayflex()
	display: flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex

flexdirection()
	flex-direction: arguments
	-ms-flex-direction: arguments
	-moz-flex-direction: arguments
	-webkit-flex-direction: arguments

alignitems()
	align-items: arguments
	-webkit-align-items: arguments
	-ms-align-items: arguments
	-moz-align-items: arguments

justifycontent()
	justify-content: arguments
	-webkit-justify-content: arguments
	-ms-justify-content: arguments
	-moz-justify-content: arguments
	