$lightBlue = #83c4fd
$lightRed = #f1315a
$lightGreen = #1fd227
$whiteBlue = #fff
$whiteRed = #fff
$whiteGreen = #fff

box-shadow()
	-ms-box-shadow: arguments
	-webkit-box-shadow: arguments
	-moz-box-shadow: arguments
	box-shadow: arguments

transition()
	transition: arguments
	-webkit-transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments

transform()
	transform: arguments
	-webkit-transform: arguments
	-moz-transform: arguments
	-ms-transform: arguments

flex()
	flex: arguments
	-webkit-flex: arguments
	-moz-flex: arguments
	-ms-flex: arguments

displayflex()
	display: flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex

displayflexdirection()
	flex-direction: arguments
	-ms-flex-direction: arguments
	-moz-flex-direction: arguments
	-webkit-flex-direction: arguments

displayflexalignitems()
	align-items: arguments
	-webkit-align-items: arguments
	-ms-align-items: arguments
	-moz-align-items: arguments

justifycontent()
	justify-content: arguments
	-webkitjustify-content: arguments
	-ms-justify-content: arguments
	-moz-justify-content: arguments