*
	position relative
	z-index 0
	border 0
	margin 0
	outline 0
	padding 0

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del, dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	margin 0
	padding 0
	border 0
	outline 0
	font-size 100%
	vertical-align inherit
	background transparent

body
	line-height 1

ol,ul
	list-style none 

blockquote,q
	quotes none 

blockquote:before,blockquote:after,q:before,q:after
	content ''
	content none 

:focus
	outline 0 

ins
	text-decoration none

del
	text-decoration line-through

table
	border-collapse collapse
	border-spacing 0

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	padding 0
	margin 0

table
	border-collapse collapse
	border-spacing 0

fieldset,img 
	border 0

address,caption,cite,code,dfn,em,var
	font-weight normal 
	font-style normal

ol,ul
	list-style none

caption,th
	text-align left

h1,h2,h3,h4,h5,h6
	font-weight normal
	font-size 100%

q:before,q:after
	content '' 
abbr,acronym 
	border 0

object
	padding 0px
	margin 0px
	height 0px
	display none

html, body
	height 100%
	width 100%

body
	font-family 'Titillium Web', sans-serif
	-webkit-appearance none
	overflow auto
	
*[hide=true], *[hide="true"]
	display none !important

.btn
	cursor pointer
	border 1px solid $grey-medium
	&.btn-send-forms
		background-color $green-regular
		border 1px solid $green-regular
		color $white
		text-shadow none
		width auto
		display inline-block
		padding 10px 20px
	&.btn-blue 
		background-color $blue-regular
		border 1px solid $blue-regular
		color $white
	&.btn-yellow 
		background-color $yellow-light2
		border 1px solid $yellow-light2
		color $grey-dark

.footer
	border-top 1px solid #ddd

	&.footer-main-site
		overflow hidden
		height 0
		padding 0

.header-struct
	width 100%
	padding 0
	border-bottom 1px solid $grey-light

	.menu-wrap-logo-igo
		display none

	.menu-wrap-logo-igo a
		padding-left 20px
		displayflex()
		alignitems(center)
		justifycontent(center)

	.center .header-btn-struct .logo-struct-client
		flex(0 0 50px)

input
	border 1px solid #bbb
	border-radius 3px