*
	padding: 0px
	margin: 0px
	border: 0px
	box-sizing: border-box
	z-index: 0

html,body
	height: 100%
	overflow: hidden

body
	font-family: 'Lato', sans-serif
	font-size: 14px
	color: #333
	position: relative

object
	display: none

ul,ol
	list-style: none
	
a
	color: blue
	
	&:visited
		color: blue
	&:active
		color: #05456b

.centerize
	width: 1024px
	margin: 0px auto
	
.hide, *[hide]
	display: none
	
.fleft
	float:left

.fright
	float:right
	
.fclear
	clear:both
	
.nopadding
	padding: 0 !important

.warn
	font-size: 20px
	
	&.success
		color: #45d

.flex-box
	displayflex()
	flexdirection(row)

.flex-column
	flexdirection(column)

.btn-basic
	padding: .7em 1em
	border-radius: 3px
	margin-right: .5em
	box-shadow: 0px 1px 4px -1px #333
	background-image: linear-gradient(#eee, #dfdfdf)
	border: 1px solid #eee
	text-shadow: 1px 1px #fff
	font-size: .8em
	color: #222

div[appmaincenter]
	display: flex
	flexdirection: column
	height: 100%

	div[appmainheader], div[appmainfooter]
		flex: 0 0 140px
		z-index: 1
		position: relative

	div[appmaincontent]
		flex: 1 0 auto
		position: relative
		z-index: 1

	div[appmainheader]
		z-index: 2
		box-shadow: 0px 0px 3px -1px #000
		background-color: #234059
		color: #fff
	
	div[appmainfooter]
		background-color: #5681A6
		
.base-list
	li
		padding 15px
		
		&:nth-child(even)
			background-color $white
		
		&:nth-child(odd)
			background-color $grey-very-light2