.city-list
	li
		padding: 15px
		font-size: 13px
		color: #444
		
		&.selected
			background: #438eff
			color: #fff
			
.selected-cities
	li
		padding: 15px
		border-bottom: 1px solid #ddd
		background: #ddd
		
.search-bar
	.search-input-wrapper
		input
			padding: 20px
			width: 100%
			background: #fafafa
			outline: none
			border-bottom: 1px solid #ddd
			
	#limitmessage
		span
			display: block
			width: 100%
			padding: 20px
			background: #f1f159
			color: #333
			font-size: 14px
			transition: background-color .5s ease-out
			will-change: background-color
			
			&[success="true"]
				background: #5ece85

.search-list
	li
		&.item-list
			padding: 20px
			color: #333
			font-size: 13px
			transition: opacity .25s ease, background-color .25s ease-out
			opacity: 1
			
			&[hide="true"], &[hideall="true"]
				display:none
			
			&[selected="true"], &[selectedall="true"]
				background-color: #438eff
				color: #fff