.city-list
	li
		padding: 15px
		font-size: 13px
		color: #444
		
		&.selected
			background: #438eff
			color: #fff
			
.selected-cities
	li
		padding: 15px
		border-bottom: 1px solid #ddd
		background: #ddd
		
.search-list
	li
		&.item-list
			padding: 20px
			color: #333
			font-size: 13px
			
			&[hide="hide"], &[hideall="hide"]
				display:none
			
			&[selected="selected"], [selectedall="selected"]
				background: #438eff