.draft-area
	padding 15px
	
	div.form
		background transparent
		
		.form-wrap
			padding-top 0
			
			.grid-hundred
				width 100%
				
				button
					width 100%
	
	.draft-card
		padding 15px
		background $grey-light
		border-bottom 4px solid $blue-regular
		margin-bottom 15px
		position relative
		
		.remove-item
			position absolute
			top 0
			right 0
			width 30px
			height 30px
			font-size 2em
			displayflex()
			alignitems(center)
			justifycontent(center)
		
		h5
			font-size 1.35em
			text-transform capitalize
		h3
			font-size 1.25em
			padding-left 15px
			text-transform capitalize
		
		#draft_sabores
			li
				padding-left 25px
				text-transform capitalize
				padding-bottom 10px