.form-wrap
	padding 25px
	
.form
	displayflex()
	flexdirection(column)
	
.form-row
	displayflex()
	alignitems(center)
	justifycontent(flex-start)
	flex(0 0 auto)
	margin 0 0 15px 0
		
	@media screen and (max-width: 960px)
		flexdirection(column)
	
	&:last-child
		margin 0
	
	.cell
		displayflex()
		flexdirection(row)
		padding 0 15px 0 0
		
		@media screen and (max-width: 960px)
			width 100%
			margin 0 0 15px 0
			padding 0
		
		&:last-child
			margin 0
			
	.grid-hundred
		flex(0 0 100%)
	
	.grid-seventy-five
		flex(0 0 75%)
	
	.grid-seventy
		flex(0 0 70%)
	
	.grid-sixty-five
		flex(0 0 65%)
	
	.grid-sixty
		flex(0 0 60%)
	
	.grid-fifty
		flex(0 0 50%)
	
	.grid-fourty-five
		flex(0 0 45%)
	
	.grid-fourty
		flex(0 0 40%)
	
	.grid-thirty-five
		flex(0 0 35%)
	
	.grid-thirty
		flex(0 0 30%)
	
	.grid-twenty-five
		flex(0 0 25%)
	
	.grid-twenty
		flex(0 0 20%)
	
	.grid-fifteen
		flex(0 0 15%)
	
	.grid-ten
		flex(0 0 10%)
	
	.grid-flex
		flex(1 0 auto)
		
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
	margin-bottom .5rem
	font-family inherit
	font-weight 500
	line-height 1.1
	color inherit
	
.h1, h1
	font-size 2.5rem
	
.h2, h2
	font-size 2rem
	
.h3, h3
	font-size 1.75rem
	
.h4, h4
	font-size 1.5rem
	
.h5, h5
	font-size 1.25rem
	
.h6, h6
	font-size 1rem

button
	display inline-block
	font-weight 400
	line-height 1.25
	text-align center
	white-space nowrap
	vertical-align middle
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	border 1px solid transparent
	padding .5rem 1rem
	font-size inherit
	
	&.btn-primary
		background-color $blue-regular
		color $white

	&[disabled]
		background-color $grey-light
		color $grey-medium
		cursor not-allowed

input, select
	displayflex()
	width 100%
	padding 7px
	font-size 1.5em
	border none
	outline none
	border-bottom 2px solid $blue-light
	
	&:focus
		border-bottom 2px solid $yellow-regular

	&.error
		border 1px solid $pink-light
		box-shadow(0 0 10px -4px $pink-light)