.hello-world-container
	max-width: 300px
	margin: 0px auto

	.hello-world-list-item
		padding: 10px 0px

		.title-area
			padding: 0px 0px 5px 0px

			input
				background: none
				border: none
				padding: 1px

		input
			border: none
			border-bottom: 3px solid #dc44de
			outline: none
			padding: 10px
			background: #ddd
			width: 100%

		.names-area
			position: relative

			#remove
				position: absolute
				height: 18px
				width: 18px
				border-radius: 30px
				background: #333
				color: #fff
				top: 0
				bottom: 0
				right: 8px
				margin: auto
				font-size: 10px
				cursor: pointer
				line-height: 19px
				text-align: center