.list-wrapper
	width: 360px
	margin: 0px auto
	margin-top: 50px
	
	#btnlike
		padding: 10px 20px
		border-radius: 5px

	.todo-list
		label
			padding: 10px 0 10px 10px
			display: block
			background-color: #879ddd

		ul
			li
				margin: 0px 0px 0px 20px
				padding: 10px
				
				&:nth-child(odd)
					background-color: #ccc
					
				.btn-delete-item
					margin-left: 20px
					padding: 5px
		