.login-screen
	flex(1 0 auto)
	flexdirection(column)
	height auto
	overflow auto
	background-image linear-gradient($yellow-light, $yellow-regular)
	
	img
		margin 0px auto
		width 35%
		display block
		margin-bottom 30px
		margin-top -150px
		
		@media screen and (max-height: 450px)
			display none
	
	.form-login
		width 300px
		background-color #fff
		border-radius 4px
		box-shadow 0 2px 6px -3px #000
		
		#loginform
			padding-bottom: 20px
			
			input
				text-transform lowercase
		
		h2
			text-align center
			font-size 1.5em
			padding-top 20px
			padding-bottom 20px
			
		h5
			text-align center
			font-size 1.25em