.Testimony
  padding 4em 0
  position relative
  min-height 600px
  displayflex()
  alignitems(center)

  .slider-actions
    padding-top 3em
    text-align center

    .btn-slider
      background-color #FFF
      border 1px solid #F52E41
      width 42px
      height 42px
      display inline-block
      border-radius 50px
      box-shadow 0px 3px 7px -2px rgba(0,0,0,.16)
      margin 0 .5em
      position relative
      cursor pointer

      img
        position absolute
        top -1px
        left -3px
        right 0
        bottom 0
        margin auto

      &.left
        img
          transform rotate(-90deg)

      &.right
        img
          left 3px
          transform rotate(90deg)

  .tns-nav
    display none

  button[data-action="stop"]
    display none

  .tns-controls
    display none

  *
    box-sizing border-box

  .grid-flex
    displayflex()
    flexdirection()

    .grid-flex-column
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.grid-flex-column-left
        padding-right 3em

      h1
        font-size 3em
        line-height 1.15em
      
      span
        font-weight 400
        font-size 1.25em
        line-height 1.5em

  .testimony-wrap
    padding 1em
    displayflex()
    height 100%
    font-weight 400
    width 100%
    position relative

    .slider-wrap
      width 100%

    .wrap
      width 80%
      list-style none
      padding 0
      border 1px solid #FDC43E
      padding 2em
      font-size 1.25em
      color #555555
      border-radius 8px
      box-shadow 0px 3px 10px rgba(150,150,150,.25)
      margin 0px auto

  .testimony-text
    text-align left
    padding-bottom 2em

  i
    font-size .85em

@media screen and (max-width 1024px)
  .Testimony
    font-size .75em
    padding 2em 0
    min-height 350px

@media screen and (max-width 650px)
  .Testimony
    font-size .75em

    .grid-flex
      flexdirection(column)
      
      .grid-flex-column
        width 100%
        padding-right 0 !important
        padding-bottom 2em

    .testimony-wrap
      .wrap
        width 100%
        font-size 1.25em
        padding 2em