.MenuHome
	padding 20px 0
	text-align center
	width 100%
	
	ul
		display inline-block
		
		li
			display inline-block
			
			a
				display block 
				padding 0 40px
				color $blue-regular
				text-decoration none
				font-weight 600
				font-size 22px
				
				&:hover
					color $grey-dark
				
				@media screen and (max-width 980px)
					padding 0 20px
					font-size 16px