.PriceSelector
  position relative
  padding-top 4em
  padding-bottom 2em

  ul
    padding 0
    width 320px
    margin 0 auto
    displayflex()
    border-radius 100px
    border 2px solid #f52e41

    li
      displayflex()
      flex(1)
      alignitems(center)
      justifycontent(center)
      padding .75em
      cursor pointer

      &.active
        background #f52e41
        color #FFF
        border-radius 40px

@media screen and (max-width 1024px)
  .PriceSelector
    ul
      width 100%

@media screen and (max-width 650px)
  .PriceSelector
    ul
      width 100%
      flexdirection(column)
      border none

      li
        padding 1.25em
        font-size 1.15em
        border 1px solid #f52e41
        border-radius 40px
        margin-bottom 1em