.QuickInfo
  padding 0 0 7em 0
  position relative
  min-height 600px

  .quick-container
    height 100%
    width 45%
    position absolute
    left 0
    top 0
    bottom 0
    margin auto
    displayflex()
    alignitems(center)

  .quick-container-float
    position absolute
    width 100%
    overflow hidden
    border-radius 0px 4px 4px 4px
    box-shadow 0px 3px 10px rgba(150,150,150,.5)

    img
      display block
      width 100%
      height auto

  .store-grid
    displayflex()
    flexdirection(row)
    alignitems(flex-start)

  .store-grid-left
    width 50%

  .store-grid-right
    width 50%
    displayflex()
    flexdirection(column)
    alignitems(flex-start)
    position relative
    padding 0 4em

    h1
      font-size 3.5em
      line-height 1.25em
      color #222

  .store-grid-wrap

    img
      display block
      width 100%
      height auto

@media screen and (max-width 1024px)
  .QuickInfo
    font-size .75em
    min-height 350px
    padding 0

    .store-grid-right
      h1
        font-size 2.5em

@media screen and (max-width 650px)
  .QuickInfo
    font-size 1em
    
    .store-grid-right
      h1
        font-size 1.745em

    .InfoWrap
      text-align left
      font-size 1em

    .quick-container
      display none

    .store-grid-left
      width 0

    .store-grid-right
      padding 0
      width 100%

    .mobile-image
      display block
      width 100%
      margin-bottom 2em
      border 1px solid #FDC43E
      box-shadow 0px 3px 4px rgba(0,0,0,.16)

      img
        width 100%
        display block