.Banner
  position relative
  flex 1 0 100%

  .container-banner
    text-align center

    h1
      font-size 4em
      padding 2em 2em 0

    .btn-templater
      font-size 1.5em
      margin-top 3em