.Customers
  position relative
  padding 3em 0
  border-top 1px solid #F52E41
  border-bottom 1px solid #F52E41

  .grid-logos
    alignitems(center)
    justifycontent(space-evenly)
    displayflex()

@media screen and (max-width 650px)
  .Customers
    font-size .75em

    img
      width 50px