.CleanTable
	display table
	width 100%
	
	tr, .tr
		font-size 1em
		min-height 51px
		position relative
		// transform scale(1)
		box-shadow 0 1px 0px 0px $grey-very-light4
		
	th, .th, td, .td
		padding 10px 1em
		vertical-align middle
		white-space pre
		
		&.white-space-pre-line
			white-space pre-line
		
		&.separator
			padding .5em
		
		&.minimal
			width 1px
	
		&.ten
			width 10%
	
		&.ten-2x
			width 20%
	
		&.ten-3x
			width 30%
	
		&.ten-4x
			width 40%
	
		&.ten-5x
			width 50%
	
		&.ten-6x
			width 60%
	
		&.ten-7x
			width 70%
	
		&.ten-8x
			width 80%
	
		&.ten-9x
			width 90%
			
		&.full
			width 100%

&.CleanTableTimesDeliver
	tr
		td,th
			text-align center
			border 1px solid $grey-very-light