.Banner
	position relative
	background-color $blue-regular
	display block
	width 100%
	padding 120px 0
		
	@media screen and (max-width 980px)
		padding 60px 0
	
	.title
		color $white
		font-size 140px
		text-align center
		padding 0 0 60px 0
		font-weight 800
		line-height 100px
		
		@media screen and (max-width 980px)
			font-size 80px
			padding 0 0 25px
		
		@media screen and (max-width 480px)
			font-size 45px
			padding 0 0 0px
		
	.sub-title
		width 100%
		font-size 30px
		color $white
		text-align center
		
		@media screen and (max-width 480px)
			font-size 20px