.Plans
  position relative

  .action-button
    padding 1.5em 0

  .list-boxes
    padding 0
    list-style none
    margin 0
    displayflex()
    width 320px
    margin 0 auto

    .list-boxes-item
      position relative
      flex(1)
      border 1px solid #FDC43E
      border-radius 3px
      padding 1.5em
      margin-right 1em
      background-color #FFF
      box-shadow 0px 7px 25px -5px rgba(125,125,125,.75)

      &:last-child
        margin-right 0

      strong
        font-size 1em
        letter-spacing .25em
        text-transform uppercase
        color #555

  .list-features
    list-style none
    padding-left 0
    display inline-block

    li
      padding-left 1.4em
      background-image url(./images/list-bullet.png)
      background-repeat no-repeat
      background-position center left
      display block
      padding-bottom .5em
      padding-top .5em
      text-align left
      color #555

@media screen and (max-width 1024px)
  .Plans
    .list-boxes
      width 100%

@media screen and (max-width 650px)
  .Plans
    font-size 1.25em

    .list-boxes
      flexdirection(column)
      alignitems(center)

      .list-boxes-item
        margin 0
        margin-bottom 2em
        width 90%

    .list-features 
      li
        padding-left 2em