
.icon-bell-alt:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-spin1:before { content: '\e802'; } /* '' */
.icon-left-open-mini:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-up-open-mini:before { content: '\e805'; } /* '' */
.icon-down-open-mini:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-ok-circled2:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-cancel-circled2:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-flash:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-cloud:before { content: '\e810'; } /* '' */
.icon-paper-plane:before { content: '\e811'; } /* '' */
.icon-megaphone:before { content: '\e812'; } /* '' */
.icon-database:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-globe:before { content: '\e815'; } /* '' */
.icon-logout:before { content: '\e816'; } /* '' */
.icon-beaker:before { content: '\e817'; } /* '' */
.icon-truck:before { content: '\e818'; } /* '' */
.icon-params:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-trash-1:before { content: '\e81b'; } /* '' */
.icon-key:before { content: '\e81c'; } /* '' */
.icon-mobile:before { content: '\e81d'; } /* '' */
.icon-desktop:before { content: '\e81e'; } /* '' */
.icon-glass:before { content: '\e81f'; } /* '' */
.icon-chat:before { content: '\e820'; } /* '' */
.icon-credit-card:before { content: '\e821'; } /* '' */
.icon-fire:before { content: '\e822'; } /* '' */
.icon-food:before { content: '\e823'; } /* '' */
.icon-clock:before { content: '\e824'; } /* '' */
.icon-globe-1:before { content: '\e825'; } /* '' */
.icon-star:before { content: '\e826'; } /* '' */
.icon-star-empty:before { content: '\e827'; } /* '' */
.icon-help:before { content: '\e828'; } /* '' */
.icon-th-list:before { content: '\e829'; } /* '' */
.icon-emo-thumbsup:before { content: '\e82a'; } /* '' */
.icon-emo-squint:before { content: '\e82b'; } /* '' */
.icon-emo-sleep:before { content: '\e82c'; } /* '' */
.icon-emo-unhappy:before { content: '\e82d'; } /* '' */
.icon-emo-angry:before { content: '\e82e'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */