.Footer
  padding 3em 0

  .logo
    width 100%

  .grid-footer
    displayflex()
    flexdirection(row)
    alignitems(center)

    .copyright
      padding 1em 0
      flex(1)
      text-align center
      justifycontent(center)

  .side
    flex(0 0 20%)

    &.brands
      displayflex()
      justifycontent(flex-end)

      img
        padding-left 1em
        cursor pointer

@media screen and (max-width 1024px)
  .Footer
    font-size .75em
    
    .grid-footer
      flexdirection(column)