.Trynow
  position relative
  padding 4em 0
  text-align center
  background-color #FDC43E
  color #F52E41

  h1
    margin-top 0
    font-size 3em
    font-weight 900

@media screen and (max-width 1024px)
  .Trynow
    font-size .75em
    
    .RedActionButton
      font-size 1.5em

@media screen and (max-width 650px)
  .Trynow
    font-size .75em
    
    .RedActionButton
      font-size 1.5em

    h1
      width 80%
      margin 0 auto
      line-height 1em
      margin-bottom 1em