.FeatureButtonsListItem
  padding-bottom 1.5em
  white-space nowrap
  
  span
    transition all .25s ease-out

  &.selected
    span
      color #FFF
      background-color #F52E41
      
  &:hover
    span
      background-color #F52E41
      color #fff

  span
    display block
    text-align center
    border: 1px solid #F52E41;
    padding: .675em .5em;
    border-radius: 50px;
    cursor: pointer;
    color #F52E41

@media screen and (max-width 650px)
  .FeatureButtonsListItem
    font-size .85em
    margin-right 1em
    display inline-block

    span 
      padding .5em 1em