.Features
  position relative
  padding 3em 0
  min-height 600px

  .mobile-list
    display none

  .features-grid
    displayflex()
    flexdirection()

    .features-cell
      flex(0 0 50%)

      &.features-list
        displayflex()

        #FeatureButtonsList
          flex(0)
          padding-right 1em

        #FeatureInstanceList
          flex(1)

  .image-container
    position absolute
    top 0
    right 0
    bottom 0
    margin auto
    width 50%
    displayflex()
    alignitems(center)
    displayflex()
    alignitems(center)
    justifycontent(center)

  .box-shadow
    overflow hidden
    border-radius 4px 0 0 4px
    box-shadow 0px 6px 10px rgba(150,150,150,.35)

  img
    width 100%
    height auto
    display block
    box-shadow: -10px 14px 12px -9px rgba(0,0,0,.15)
    border: 1px solid #ddd

    &.no-shadow
      box-shadow none !important
      border none !important

    &.vertical
      width auto
      height 80%

@media screen and (max-width 1024px)
  .Features
    font-size .75em
    min-height 350px

    .features-grid
      .features-cell
        flex(1 0 40%)
        &.features-list
          flex(1 0 60%)

    .image-container
      width 40%
      display block

@media screen and (max-width 650px)
  .Features
    padding-top 0
    font-size 1em

    .image-container
      display none

    .mobile-list
      display block
      margin-bottom 2em
    
    select
      padding .75em 1em
      border-radius 10px
      background #F52E41
      color $white
      width 100%
      color 1px solid #F52E41
      outline none
  
  .features-grid 
    .features-cell.features-list
      flex-direction column

      #FeatureButtonsList
        padding-right 0 !important
        font-size .75em
        display none

      #FeatureInstanceList
        h1
          width 100%
          padding-left 0

        .FeaturePageBaseList
          width 100%
          padding 0
          list-style none