.RedActionButton
  position relative
  display inline-block
  color #FFF
  background-color #F52E41
  text-decoration none
  padding .675em 2.25em
  border-radius 50px
  box-shadow 0px 6px 12px rgba(245, 46, 65, 0.25)
  cursor pointer